@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Josefin+Sans:ital,wght@1,100&family=Lato:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;1,500;1,600&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;

}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: black;

}

h4 {
    font-size: 20px;
    color: black;
}

h6 {
    font-weight: 700;
    font-size: 12px;

}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    margin: 40px 80px;
}

.section-m1 {
    margin: 40px 80px;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;


}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color: transparent;
    /* border-radius: 4px; */
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;


}

body {
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    pad: 20px 80px;
    background: #E3E6f3;
    box-shadow: 0 5px 15px, rgba(0, 0, 0, 0.06);
    height: 63px;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;




}

#navbar li {
    list-style: none;
    padding: 0 20px;
    /* position:absolute; */


}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;

    color: #1a1a1a;
    transition: 0.3s ease;
    /* position:absolute; */
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
    /* position:absolute; */
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    /* position: absolute;
    bottom: -4px;
    left: 20px; */

}

#mobile {
    display: none;
    align-items: center;

}

#close {
    display: none;

}

#hero {
    background-image: url('hero4.png');
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;

}

#hero h1 {
    color: #088178;
}

#hero button {
    background-image: url('button.png');
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;



}

#page-hader {
    background-image: url('b1.jpg');
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(230, 20, 20, 0.03);
    border: 1px solid #cad0cb;
    border-radius: 4px;
    margin: 15px 0px;
}

#feature .fe-box:hover {
    box-shadow: 10px 20px 64px rgba(70, 62, 20, 0.03);
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;

}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: rgb(36, 214, 157);
}

#feature .fe-box:nth-child(3) h6 {
    background-color: rgb(223, 159, 85);
}

#feature .fe-box:nth-child(4) h6 {
    background-color: rgb(230, 125, 149);
}

#feature .fe-box:nth-child(5) h6 {
    background-color: rgb(223, 241, 128);
}

#feature .fe-box:nth-child(6) h6 {
    background-color: rgb(139, 198, 228);
}

#product1 {
    text-align: center;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30x rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0, 02s ease;
    position: relative;

}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;



}

#product1 .pro:hover {
    box-shadow: 20px 20px 30x rgba(228, 51, 51, 0.09);
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;

}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: gold;

}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .card {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    background-color: #e8f6ea;
    position: absolute;
    bottom: 20px;
    right: 10px;

}

#product1 .pro-continer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;

}

.section-m1 {}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url("b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

}

#banner h4 {
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: red;
}

#banner button:hover {
    background-color: red;
    color: #fff;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    align-items: flex-start;
    background-image: url("b17.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .bannner-box{
    background-image: url("b10.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;

}

#sm-banner h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;

}

#sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;

}

#sm-banner .banner-box:hover button {
    background: #088178;
    border: 1px solid #088178;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    align-items: flex-start;
    background-image: url("b7.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;

}

#banner3 h3 {
    color: #fff;
    font-weight: 800;
    font-size: 15px;
    color: red;

}

#banner3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 80px;
}

#banner3 .banner-box2 {

    background-image: url("b4.jpg");


}

#banner3 .banner-box3 {

    background-image: url("b18.jpg");


}

#banner3 h2:hover {
    color: #fddde4;
}

#banner3 h3:hover {
    color: #de6f25;
}

#newsletter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url('b14.png');
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
    height: 160px;

}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span {
    font-size: 14px;
    font-weight: 600;
    color: #dcb20b;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1, 25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

#newsletter button.normal {
    background-color: #0e7abe;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#newsletter button.normal:hover {
    background-color: #cce7d0;
}

/* footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

footer .col {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap;
    justify-content: space-between; */
    align-items: flex-start;
    margin-bottom: 20px;

}

footer .logo {
    margin-bottom: 30px;

}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;

}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;

}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;

}

footer .copyright {
    width: 100%;
    text-align: center;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {

    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;

}

footer .install img {
    margin: 10px 0 15 0;

}

footer.follow i:hover,
footer a:hover {
    color: #088178;
}



@media(max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);

        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;

    }

    #mobile i {
        color: black;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;


    }

    #lg-beg {
        display: none;
    }

    #hero {
        /* background-image: url('hero4.png'); */
        height: 70vh;
        /* width: 100%; */
        /* background-position: top 25% right 0;
        background-size: cover; */
        padding: 0px 80px;
        /* display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center; */
        background-position: top 30% right 30%;
    }

    #feature {

        justify-content: center;

    }

    #feature .fe-box {

        margin: 15px 15px;
    }

    #product1 .pro-continer {

        justify-content: center;


    }

    #product1 .pro {

        margin: 15px 0;


    }

    #banner {

        height: 20vh;

    }

    #sm-banner .banner-box {

        min-width: 100%;
        height: 30vh;
        padding: 30px;

    }

    #banner3 {

        padding: 0 40px;
    }

    #banner3 .banner-box {

        width: 28%;

    }

    #newsletter .form {

        width: 70%;
    }

    #newsletter {

        height: 180px;

    }

    @media (max-width:477px) {
        #header {

            padding: 20px 30px;


        }

        .section-p1 {
            padding: 20px;
        }

        h1 {
            font-size: 38px;

        }

        h2 {
            font-size: 32px;
        }

        #page-hader {
            background-image: url("n6.jpg");
            width: 100%;
            height: 40vh;
            background-size: cover;
            display: flex;
            justify-content: center;
            text-align: center;
        }
        #page-hader h2 , #page-hader p{
                 color: #fff;
        }

        

        #hero {
            /* background-image: url('hero4.png'); */
            /* height: 70vh; */
            /* width: 100%; */
            /* background-position: top 25% right 0; */
            /* background-size: cover; */
            padding: 0px 20px;
            /* display: flex; */
            /* flex-direction: column; */
            /* align-items: flex-start; */
            /* justify-content: center; */
            background-position: 55%;
        }

        #feature {
            justify-content: space-between;
        }

        #feature .fe-box {
            width: 155px;
            margin: 0 0 15px 0;

        }

        #product1 .pro {
            width: 100%;

        }

        #banner {

            height: 40vh;

        }

        #sm-banner .banner-box {

            height: 40vh;


        }

        #sm-banner .banner-box2 {
            margin-top: 20px;
        }
    }

    #banner3 {

        padding: 0 20px;
    }

    #banner3 .banner-box {
        width: 100%;
    }

    #newsletter {
        width: 100%;
        display: flex;
        align-items: center;
    }

    #newsletter .form {

        width: 100%;
    }

    footer .copyright {

        text-align: start;
    }

}